.collage-photo {
  position: absolute;

  &__image {
    width: 50vmin;
    user-select: none;
    z-index: 1;
    filter: hue-rotate(90deg) brightness(1.25);
  }

  &__hover-image {
    cursor: pointer;
    position: absolute;
    z-index: 2;
    left: 0;
    bottom: 4px; //No idea why??? makes the images overlap each other perfectly.
    width: 50vmin;
  }

}