.contact {
  text-align: center;

  &__cta {
    background: black;
    color: white;
    width: max-content;
    margin: $grid * 4 auto $grid;
    display: block;
    padding: $grid / 2 $grid;
  }

  &__main-links {
    display: flex;
    flex-direction: column;
    gap: $grid;
    align-items: center;
  }
}