.information-page {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 60;
  width: 100%;
  height: 100vh;
  overflow-y: scroll;

  background-color: white;
  display: flex;
  align-items: center;


  &__title {
    margin-top: $grid * 4;
    @include font-size(xxxl);
  }

  &__content {
    text-align: center;
    width: 100%;
    
    @include media-query(md){
      width: 800px;
      margin: 0 auto;
    }
  }

  &__paragraph {
    @include font-size(l);
    margin: $grid 0;
    text-align: left;
  }
}