.James-Hancock {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  &__title {
    background-color: red;
    color: white;
    padding: 4px;
    transform: translate(180px,-140px);

    &--active {
      transform: translate(0, 0);
    }
  }

  &__collage-photo {
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%) translate(-100px, 50px);
    clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
  }
}