.James-Hancock {

  &__collage-photo {
    top: calc(50%);
    left: calc(50%);
    transform: translate(-50%, -50%) translate(-100px, 50px);

    > .collage-photo__image {
      clip-path: polygon(0% 0%, 50% 0%, 50% 50%, 100% 50%, 100% 100%, 0% 100%);
    }
    
  }

  &__title {
    z-index: 40;
    background: white;
    border: 2px solid black;
    padding: 5px;
  }

}